
<% include layout/header.ejs %>

 <body>
 
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 942187175;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */ 
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <a class="anchor_item colelem" id="main"></a>
    <div class="clearfix colelem" id="pu94"><!-- group -->
     <div class="browser_width" id="u94-bw">
      <div id="u94"><!-- simple frame --></div>
     </div>
     <nav class="MenuBar clearfix" id="menuu98"><!-- horizontal box -->
      <div class="MenuItemContainer clearfix grpelem" id="u99"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u102" href="#main" data-href="anchor:U82:U442" data-muse-uid="U102"><!-- horizontal box -->
        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u105-4" data-muse-uid="U105" data-muse-type="txt_frame"><!-- content --><p>Главная</p>
        </div></a>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u127"><!-- vertical box -->
       <!-- m_editable region-id="editable-static-tag-U128" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u128" href="#preim" data-href="anchor:U82:U701" data-muse-uid="U128"><!-- horizontal box --><!-- m_editable region-id="editable-static-tag-U131-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u131-4" data-muse-uid="U131" data-muse-type="txt_frame"><!-- content --><p>Наши преимущества</p></div><!-- /m_editable --></a>
       <!-- /m_editable -->
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u106"><!-- vertical box -->
       <!-- m_editable region-id="editable-static-tag-U107" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u107" href="#uslugi" data-href="anchor:U82:U4514" data-muse-uid="U107"><!-- horizontal box --><!-- m_editable region-id="editable-static-tag-U110-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u110-4" data-muse-uid="U110" data-muse-type="txt_frame"><!-- content --><p>Что мы предлагаем</p></div><!-- /m_editable --></a>
       <!-- /m_editable -->
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u134"><!-- vertical box -->
       <!-- m_editable region-id="editable-static-tag-U137" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u137" href="#kak" data-href="anchor:U82:U4941" data-muse-uid="U137"><!-- horizontal box --><!-- m_editable region-id="editable-static-tag-U140-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u140-4" data-muse-uid="U140" data-muse-type="txt_frame"><!-- content --><p>Как мы работаем</p></div><!-- /m_editable --></a>
       <!-- /m_editable -->
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
       <!-- m_editable region-id="editable-static-tag-U123" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u123" href="#contact" data-href="anchor:U82:U4944" data-muse-uid="U123"><!-- horizontal box --><!-- m_editable region-id="editable-static-tag-U126-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u126-4" data-muse-uid="U126" data-muse-type="txt_frame"><!-- content --><p>Контакты</p></div><!-- /m_editable --></a>
       <!-- /m_editable -->
      </div>
     </nav>
     <!-- m_editable region-id="editable-static-tag-U409-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame" id="u409" data-muse-uid="U409" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u409_img" src="images/mts.png?crc=274310997" alt="" width="18" height="18" data-muse-src="images/mts.png?crc=274310997"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U420-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix" id="u420-7" data-muse-uid="U420" data-muse-type="txt_frame"><!-- content -->
      <p>+375 (<span id="u420-2">29</span>) <span id="u420-4">230-42-35</span></p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U5023-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame" id="u5023" data-muse-uid="U5023" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u5023_img" src="images/logo 99x53.png" alt="" width="97" height="52"/>
     </div>
     <!-- /m_editable -->
    </div>
    <!-- m_editable region-id="editable-static-tag-U305-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
    <div class="clearfix pinned-colelem" id="u305-7" data-muse-uid="U305" data-muse-type="txt_frame"><!-- content -->
     <p>+375 (<span id="u305-2">29</span>) <span id="u305-4">383-16-20</span></p>
    </div>
    <!-- /m_editable -->
    <!-- m_editable region-id="editable-static-tag-U307-BP_infinity" template="index.html" data-type="image" -->
    <div class="clip_frame pinned-colelem" id="u307" data-muse-uid="U307" data-muse-type="img_frame"><!-- image -->
     <img class="block" id="u307_img" src="images/velcom_1.png?crc=444816016" alt="" width="18" height="18" data-muse-src="images/velcom_1.png?crc=444816016"/>
    </div>
    <!-- /m_editable -->
    <div class="clearfix colelem" id="pu259"><!-- group -->
     <div class="browser_width grpelem" id="u259-bw">
      <div class="museBGSize" id="u259"><!-- column -->
       <div class="clearfix" id="u259_align_to_page">
        <!-- m_editable region-id="editable-static-tag-U547-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u547-4" data-muse-uid="U547" data-muse-type="txt_frame"><!-- content -->
         <p>Обслуживание компьютерных сетей, серверов и оборудования</p>
        </div>
        <!-- /m_editable -->
        <!-- m_editable region-id="editable-static-tag-U550-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u550-6" data-muse-uid="U550" data-muse-type="txt_frame"><!-- content -->
         <p>Мы упрощаем вашу работу</p>
         <p><span id="u550-3">Работаем по всей Республике Беларусь.</span></p>
        </div>
        <!-- /m_editable -->
        <div class="clearfix colelem" id="pu556-4"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U556-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="rgba-background clearfix grpelem" id="u556-4" data-muse-uid="U556" data-muse-type="txt_frame"><!-- content -->
          <p>IT- аутсорсинг</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U562-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="rgba-background clearfix grpelem" id="u562-4" data-muse-uid="U562" data-muse-type="txt_frame"><!-- content -->
          <p>Прокладка ЛВС</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U565-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="rgba-background clearfix grpelem" id="u565-4" data-muse-uid="U565" data-muse-type="txt_frame"><!-- content -->
          <p>Безопасность сети</p>
         </div>
         <!-- /m_editable -->
        </div>
        <div class="clearfix colelem" id="pu559-4"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U559-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="rgba-background clearfix grpelem" id="u559-4" data-muse-uid="U559" data-muse-type="txt_frame"><!-- content -->
          <p>Подбор оборудования</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U571-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="rgba-background clearfix grpelem" id="u571-4" data-muse-uid="U571" data-muse-type="txt_frame"><!-- content -->
          <p>Оптимизация</p>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u575-bw">
      <div class="rgba-background" id="u575"><!-- group -->
       <div class="clearfix" id="u575_align_to_page">
        <a class="anchor_item grpelem" id="preim"></a>
       </div>
      </div>
     </div>

     <!-- 
//////////////////////////////////////
//////////////////////////////////////
//////////FIRST FORM//////////////////
//////////////////////////////////////
//////////////////////////////////////   
     -->
     <form class="form-grp clearfix grpelem" id="widgetu577" method="post" >
     <!--Имя-->
          <div class="fld-grp clearfix grpelem" id="widgetu580">
               <label class="fld-label actAsDiv clearfix grpelem" id="u581-3" for="widgetu580_input"></label>
               <span class="fld-input NoWrap actAsDiv ts-------------------6 clearfix grpelem" id="u583-4">
                    <input class="wrapped-input" type="text" id="widgetu580_input" name="name" placeholder="Введите имя">
               </span>
          </div>

     <!--Номер телефона-->
          <div class="fld-grp clearfix grpelem" id="widgetu4488">
               <label class="fld-label actAsDiv clearfix grpelem" id="u4489-4" for="widgetu4488_input"></label>
               <span class="fld-input NoWrap actAsDiv ts-------------------6 clearfix grpelem" id="u4490-4">
                    <input class="wrapped-input" type="tel" id="widgetu4488_input" placeholder="Введите номер телефона" name="phoneNumber"/>
               </span>
          </div>

      <!--Получить консультацию-->
     <button class="submit-btn NoWrap ts-------------------6 clearfix grpelem" id="u585-4"type="submit">
          <div style="margin-top:-16px;height:16px;">
               <p id="get-consult">получить консультацию</p>
          </div>
     </button>
      
     </form>

<!-- 
//////////////////////////////////////
//////////////////////////////////////
//////END OF THE FIRST FORM///////////
//////////////////////////////////////
//////////////////////////////////////   
-->


     <!-- m_editable region-id="editable-static-tag-U597-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="ts-------------------6 clearfix grpelem" id="u597-8" data-muse-uid="U597" data-muse-type="txt_frame"><!-- content -->
      <p><span id="u597">Оставьте заявку и</span> <span id="u597-3">ПОЛУЧИТЕ ПРОФЕССИОНАЛЬНУЮ КОНСУЛЬТАЦИЮ</span> <span id="u597-5">от нашего специалиста</span></p>
     </div>
     <!-- /m_editable -->
     <a class="nonblock nontext anim_swing grpelem" id="u682" href="#preim" data-href="anchor:U82:U701"><!-- state-based BG images --></a>
     <!-- m_editable region-id="editable-static-tag-U4500-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u4500" data-muse-uid="U4500" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u4500_img" src="images/avatar(1).png?crc=109806729" alt="" width="16" height="16" data-muse-src="images/avatar(1).png?crc=109806729"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U4502-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u4502" data-muse-uid="U4502" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u4502_img" src="images/phone-call(2).png?crc=4031831572" alt="" width="16" height="16" data-muse-src="images/phone-call(2).png?crc=4031831572"/>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="pu1103"><!-- group -->
     <div class="browser_width grpelem" id="u1103-bw">
      <div class="museBGSize" id="u1103"><!-- group -->
       <div class="clearfix" id="u1103_align_to_page">
        <a class="anchor_item grpelem" id="uslugi"></a>
        <div class="clearfix grpelem" id="pu959"><!-- column -->
         <div class="shadow museBGSize rounded-corners colelem" id="u959"><!-- simple frame --></div>
         <div class="shadow museBGSize rounded-corners colelem" id="u1029"><!-- simple frame --></div>
         <div class="shadow museBGSize rounded-corners colelem" id="u958"><!-- simple frame --></div>
        </div>
        <div class="clearfix grpelem" id="pu1074-4"><!-- column -->
         <!-- m_editable region-id="editable-static-tag-U1074-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1074-4" data-muse-uid="U1074" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1074">Опыт работы более 7 лет</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U964-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u964-5" data-muse-uid="U964" data-muse-type="txt_frame"><!-- content -->
          <p>При работе с клиентом, мы учитываем специфику его бизнеса, <span id="u964-2">опыт во всех сферах деятельности</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1080-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1080-4" data-muse-uid="U1080" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1080">Доступность инженеров 24/7</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1079-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1079-4" data-muse-uid="U1079" data-muse-type="txt_frame"><!-- content -->
          <p>Круглосуточная поддержка, устранение, качественная консультация и выполнение работ</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U968-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u968-4" data-muse-uid="U968" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u968">Обслуживание любого оборудования</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1073-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1073-4" data-muse-uid="U1073" data-muse-type="txt_frame"><!-- content -->
          <p>Мы работает с любым видом и моделями оборудования, также производим подбор оборудования!</p>
         </div>
         <!-- /m_editable -->
        </div>
        <div class="clearfix grpelem" id="pu963"><!-- column -->
         <div class="shadow museBGSize rounded-corners colelem" id="u963"><!-- simple frame --></div>
         <div class="shadow museBGSize rounded-corners colelem" id="u962"><!-- simple frame --></div>
         <div class="shadow museBGSize rounded-corners colelem" id="u1032"><!-- simple frame --></div>
        </div>
        <div class="clearfix grpelem" id="pu1098-4"><!-- column -->
         <!-- m_editable region-id="editable-static-tag-U1098-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1098-4" data-muse-uid="U1098" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1098">Первый выезд специалиста= 0 р.</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1097-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1097-6" data-muse-uid="U1097" data-muse-type="txt_frame"><!-- content -->
          <p>Проконсультируем вас <span id="u1097-2">бесплатно</span> по всем вопросам, которые вас интересуют. Мы ценим клиентов!</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1092-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1092-4" data-muse-uid="U1092" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1092">Высокие стандарты качества</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1091-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1091-5" data-muse-uid="U1091" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1091">Исключительные стандарты</span> контроля качества позволяют вам работать без проблем!</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1086-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1086-4" data-muse-uid="U1086" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1086">10 минутная реакция на запрос</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1085-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1085-5" data-muse-uid="U1085" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u1085">Оперативное решение</span> любых вопросов, 24 часа в день, без выходных. Заявки и звонки!</p>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u1026-6-bw">
      <!-- m_editable region-id="editable-static-tag-U1026-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix" id="u1026-6" data-muse-uid="U1026" data-muse-type="txt_frame"><!-- content -->
       <p>Почему Вам следует обратиться <span id="u1026-2">к нам</span>:</p>
      </div>
      <!-- /m_editable -->
     </div>
    </div>
    <div class="browser_width colelem" id="u1198-4-bw">
     <!-- m_editable region-id="editable-static-tag-U1198-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix" id="u1198-4" data-muse-uid="U1198" data-muse-type="txt_frame"><!-- content -->
      <p>Услуги, которые мы предоставляем:</p>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="ppu1204"><!-- group -->
     <div class="clearfix grpelem" id="pu1204"><!-- group -->
      <div class="shadow rounded-corners clearfix grpelem" id="u1204"><!-- column -->
       <div class="position_content" id="u1204_position_content">
        <div class="museBGSize rounded-corners colelem" id="u1270"><!-- simple frame --></div>
        <!-- m_editable region-id="editable-static-tag-U1222-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u1222-4" data-muse-uid="U1222" data-muse-type="txt_frame"><!-- content -->
         <p>Создание ЛВС</p>
        </div>
        <!-- /m_editable -->
        <!-- m_editable region-id="editable-static-tag-U3312-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u3312-4" data-muse-uid="U3312" data-muse-type="txt_frame"><!-- content -->
         <p id="u3312-2">- Расчёт, прокладка и модернизация локальных вычислительных сетей с сопроводительной документацией</p>
        </div>
        <!-- /m_editable -->
       </div>
      </div>
      <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu3842"><!-- none box -->
       <div class="ThumbGroup clearfix grpelem" id="u3870"><!-- none box -->
        <div class="popup_anchor" id="u3871popup">
         <div class="Thumb popup_element rounded-corners clearfix" id="u3871"><!-- group -->
          <!-- m_editable region-id="editable-static-tag-U3872-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
          <div class="rounded-corners ts------3 clearfix grpelem" id="u3872-4" data-muse-uid="U3872" data-muse-type="txt_frame"><!-- content -->
           <p id="u3872-2">Заказать услугу</p>
          </div>
          <!-- /m_editable -->
         </div>
        </div>
       </div>
       <div class="popup_anchor" id="u3843popup">
        <div class="ContainerGroup rgba-background clearfix" id="u3843"><!-- stack box -->
         <div class="Container clearfix grpelem" id="u3844"><!-- group -->
          <div class="clearfix grpelem" id="u3847"><!-- column -->
           <!-- m_editable region-id="editable-static-tag-U3866-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="clearfix colelem" id="u3866-6" data-muse-uid="U3866" data-muse-type="txt_frame"><!-- content -->
            <p>ЗАКАЖИТЕ БЕСПЛАТНЫЙ</p>
            <p>РАССЧЁТ СТОИМОСТИ</p>
           </div>
           <!-- /m_editable -->
           <div class="clearfix colelem" id="pu3845"><!-- group -->
            <img class="grpelem" id="u3845" alt="" width="16" height="17" src="images/timer%203-u3845.png?crc=4089915977"/><!-- rasterized frame -->
            <!-- m_editable region-id="editable-static-tag-U3865-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
            <div class="clearfix grpelem" id="u3865-4" data-muse-uid="U3865" data-muse-type="txt_frame"><!-- content -->
             <p>Ответ в течении 15 минут</p>
            </div>
            <!-- /m_editable -->
           </div>
          </div>
          <form class="form-grp clearfix grpelem" id="widgetu3848" method="post" enctype="multipart/form-data" action="scripts/form-u3848.php"><!-- none box -->
           <div class="fld-grp clearfix grpelem" id="widgetu3849" data-required="true"><!-- none box -->
            <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u3850-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu3849_input" name="custom_U3849" tabindex="4"/><label class="wrapped-input fld-prompt" id="widgetu3849_prompt" for="widgetu3849_input"><span class="actAsPara">Ваше имя*</span></label></span>
           </div>
           <!-- m_editable region-id="editable-static-tag-U3853-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="ts------3 clearfix grpelem" id="u3853-4" data-muse-uid="U3853" data-muse-type="txt_frame"><!-- content -->
            <p>Идет отправка формы...</p>
           </div>
           <!-- /m_editable -->
           <!-- m_editable region-id="editable-static-tag-U3858-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="ts------3 clearfix grpelem" id="u3858-4" data-muse-uid="U3858" data-muse-type="txt_frame"><!-- content -->
            <p>Произошла ошибка. Попробуйте еще раз.</p>
           </div>
           <!-- /m_editable -->
           <!-- m_editable region-id="editable-static-tag-U3864-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="ts------3 clearfix grpelem" id="u3864-4" data-muse-uid="U3864" data-muse-type="txt_frame"><!-- content -->
            <p>Форма успешно отправлена!</p>
           </div>
           <!-- /m_editable -->
           <div class="fld-grp clearfix grpelem" id="widgetu3860" data-required="true"><!-- none box -->
            <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u3863-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu3860_input" name="custom_U3860" tabindex="5"/><label class="wrapped-input fld-prompt" id="widgetu3860_prompt" for="widgetu3860_input"><span class="actAsPara">Ваш телефон*</span></label></span>
           </div>
           <!-- m_editable region-id="editable-static-tag-U3859-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <button class="submit-btn NoWrap rounded-corners ts------3 clearfix grpelem" id="u3859-4" data-muse-uid="U3859" data-muse-type="txt_frame" type="submit" value="Получить бесплатный рассчёт" tabindex="6"><!-- content -->
            <div style="margin-top:-17px;height:17px;">
             <p>Получить бесплатный рассчёт</p>
            </div>
           </button>
           <!-- /m_editable -->
          </form>
         </div>
        </div>
       </div>
       <div class="popup_anchor" id="u3867popup">
        <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u3867"><!-- state-based BG images --></div>
       </div>
      </div>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u1201"><!-- column -->
      <div class="position_content" id="u1201_position_content">
       <div class="museBGSize rounded-corners colelem" id="u1259"><!-- simple frame --></div>
       <!-- m_editable region-id="editable-static-tag-U1219-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u1219-4" data-muse-uid="U1219" data-muse-type="txt_frame"><!-- content -->
        <p>IT- аутсорсинг</p>
       </div>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U1351-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u1351-4" data-muse-uid="U1351" data-muse-type="txt_frame"><!-- content -->
        <p id="u1351-2">- Обслуживание компьютерных сетей, серверов и оборудования любой сложности</p>
       </div>
       <!-- /m_editable -->
      </div>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u1231"><!-- column -->
      <div class="position_content" id="u1231_position_content">
       <div class="museBGSize rounded-corners colelem" id="u1276"><!-- simple frame --></div>
       <!-- m_editable region-id="editable-static-tag-U1234-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u1234-4" data-muse-uid="U1234" data-muse-type="txt_frame"><!-- content -->
        <p>Безопасность сети</p>
       </div>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U3324-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u3324-4" data-muse-uid="U3324" data-muse-type="txt_frame"><!-- content -->
        <p id="u3324-2">- Защита вашего компьютерного оборудования и корпоративной информации от внешних и внутренних угроз</p>
       </div>
       <!-- /m_editable -->
      </div>
     </div>
     <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu1870"><!-- none box -->
      <div class="ThumbGroup clearfix grpelem" id="u1872"><!-- none box -->
       <div class="popup_anchor" id="u1873popup">
        <div class="Thumb popup_element rounded-corners clearfix" id="u1873"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U1874-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
         <div class="rounded-corners ts------3 clearfix grpelem" id="u1874-4" data-muse-uid="U1874" data-muse-type="txt_frame"><!-- content -->
          <p id="u1874-2">Заказать услугу</p>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u1877popup">
       <div class="ContainerGroup rgba-background clearfix" id="u1877"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u1878"><!-- group -->
         <div class="clearfix grpelem" id="u1900"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U1897-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u1897-6" data-muse-uid="U1897" data-muse-type="txt_frame"><!-- content -->
           <p>ЗАКАЖИТЕ БЕСПЛАТНЫЙ</p>
           <p>РАССЧЁТ СТОИМОСТИ</p>
          </div>
          <!-- /m_editable -->
          <div class="clearfix colelem" id="pu1898"><!-- group -->
           <img class="grpelem" id="u1898" alt="" width="16" height="17" src="images/timer%203-u1898.png?crc=4089915977"/><!-- rasterized frame -->
           <!-- m_editable region-id="editable-static-tag-U1896-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="clearfix grpelem" id="u1896-4" data-muse-uid="U1896" data-muse-type="txt_frame"><!-- content -->
            <p>Ответ в течении 15 минут</p>
           </div>
           <!-- /m_editable -->
          </div>
         </div>
         <form class="form-grp clearfix grpelem" id="widgetu1879" method="post" enctype="multipart/form-data" action="scripts/form-u1879.php"><!-- none box -->
          <div class="fld-grp clearfix grpelem" id="widgetu1880" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u1882-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1880_input" name="custom_U1880" tabindex="7"/><label class="wrapped-input fld-prompt" id="widgetu1880_prompt" for="widgetu1880_input"><span class="actAsPara">Ваше имя*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U1884-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u1884-4" data-muse-uid="U1884" data-muse-type="txt_frame"><!-- content -->
           <p>Идет отправка формы...</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U1894-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u1894-4" data-muse-uid="U1894" data-muse-type="txt_frame"><!-- content -->
           <p>Произошла ошибка. Попробуйте еще раз.</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U1895-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u1895-4" data-muse-uid="U1895" data-muse-type="txt_frame"><!-- content -->
           <p>Форма успешно отправлена!</p>
          </div>
          <!-- /m_editable -->
          <div class="fld-grp clearfix grpelem" id="widgetu1886" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u1889-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu1886_input" name="custom_U1886" tabindex="8"/><label class="wrapped-input fld-prompt" id="widgetu1886_prompt" for="widgetu1886_input"><span class="actAsPara">Ваш телефон*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U1885-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <button class="submit-btn NoWrap rounded-corners ts------3 clearfix grpelem" id="u1885-4" data-muse-uid="U1885" data-muse-type="txt_frame" type="submit" value="Получить бесплатный рассчёт" tabindex="9"><!-- content -->
           <div style="margin-top:-17px;height:17px;">
            <p>Получить бесплатный рассчёт</p>
           </div>
          </button>
          <!-- /m_editable -->
         </form>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u1871popup">
       <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u1871"><!-- state-based BG images --></div>
      </div>
     </div>
     <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu4048"><!-- none box -->
      <div class="ThumbGroup clearfix grpelem" id="u4076"><!-- none box -->
       <div class="popup_anchor" id="u4077popup">
        <div class="Thumb popup_element rounded-corners clearfix" id="u4077"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U4078-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
         <div class="rounded-corners ts------3 clearfix grpelem" id="u4078-4" data-muse-uid="U4078" data-muse-type="txt_frame"><!-- content -->
          <p id="u4078-2">Заказать услугу</p>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u4049popup">
       <div class="ContainerGroup rgba-background clearfix" id="u4049"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u4050"><!-- group -->
         <div class="clearfix grpelem" id="u4053"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U4072-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u4072-6" data-muse-uid="U4072" data-muse-type="txt_frame"><!-- content -->
           <p>ЗАКАЖИТЕ БЕСПЛАТНЫЙ</p>
           <p>РАССЧЁТ СТОИМОСТИ</p>
          </div>
          <!-- /m_editable -->
          <div class="clearfix colelem" id="pu4051"><!-- group -->
           <img class="grpelem" id="u4051" alt="" width="16" height="17" src="images/timer%203-u4051.png?crc=4089915977"/><!-- rasterized frame -->
           <!-- m_editable region-id="editable-static-tag-U4071-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="clearfix grpelem" id="u4071-4" data-muse-uid="U4071" data-muse-type="txt_frame"><!-- content -->
            <p>Ответ в течении 15 минут</p>
           </div>
           <!-- /m_editable -->
          </div>
         </div>
         <form class="form-grp clearfix grpelem" id="widgetu4054" method="post" enctype="multipart/form-data" action="scripts/form-u4054.php"><!-- none box -->
          <div class="fld-grp clearfix grpelem" id="widgetu4055" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u4056-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4055_input" name="custom_U4055" tabindex="10"/><label class="wrapped-input fld-prompt" id="widgetu4055_prompt" for="widgetu4055_input"><span class="actAsPara">Ваше имя*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U4059-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u4059-4" data-muse-uid="U4059" data-muse-type="txt_frame"><!-- content -->
           <p>Идет отправка формы...</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U4064-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u4064-4" data-muse-uid="U4064" data-muse-type="txt_frame"><!-- content -->
           <p>Произошла ошибка. Попробуйте еще раз.</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U4070-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u4070-4" data-muse-uid="U4070" data-muse-type="txt_frame"><!-- content -->
           <p>Форма успешно отправлена!</p>
          </div>
          <!-- /m_editable -->
          <div class="fld-grp clearfix grpelem" id="widgetu4066" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u4069-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu4066_input" name="custom_U4066" tabindex="11"/><label class="wrapped-input fld-prompt" id="widgetu4066_prompt" for="widgetu4066_input"><span class="actAsPara">Ваш телефон*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U4065-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <button class="submit-btn NoWrap rounded-corners ts------3 clearfix grpelem" id="u4065-4" data-muse-uid="U4065" data-muse-type="txt_frame" type="submit" value="Получить бесплатный рассчёт" tabindex="12"><!-- content -->
           <div style="margin-top:-17px;height:17px;">
            <p>Получить бесплатный рассчёт</p>
           </div>
          </button>
          <!-- /m_editable -->
         </form>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u4073popup">
       <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u4073"><!-- state-based BG images --></div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1232"><!-- group -->
     <div class="clearfix grpelem" id="pu1232"><!-- group -->
      <div class="shadow rounded-corners clearfix grpelem" id="u1232"><!-- column -->
       <div class="position_content" id="u1232_position_content">
        <div class="museBGSize rounded-corners colelem" id="u1279"><!-- simple frame --></div>
        <!-- m_editable region-id="editable-static-tag-U1235-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u1235-4" data-muse-uid="U1235" data-muse-type="txt_frame"><!-- content -->
         <p>Оптимизация сети</p>
        </div>
        <!-- /m_editable -->
        <!-- m_editable region-id="editable-static-tag-U3321-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u3321-4" data-muse-uid="U3321" data-muse-type="txt_frame"><!-- content -->
         <p id="u3321-2">- Консультирование по уменьшению затрат на содержание и модернизацию сети</p>
        </div>
        <!-- /m_editable -->
       </div>
      </div>
      <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu4151"><!-- none box -->
       <div class="ThumbGroup clearfix grpelem" id="u4179"><!-- none box -->
        <div class="popup_anchor" id="u4180popup">
         <div class="Thumb popup_element rounded-corners clearfix" id="u4180"><!-- group -->
          <!-- m_editable region-id="editable-static-tag-U4181-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
          <div class="rounded-corners ts------3 clearfix grpelem" id="u4181-4" data-muse-uid="U4181" data-muse-type="txt_frame"><!-- content -->
           <p id="u4181-2">Заказать услугу</p>
          </div>
          <!-- /m_editable -->
         </div>
        </div>
       </div>
       <div class="popup_anchor" id="u4152popup">
        <div class="ContainerGroup rgba-background clearfix" id="u4152"><!-- stack box -->
         <div class="Container clearfix grpelem" id="u4153"><!-- group -->
          <div class="clearfix grpelem" id="u4156"><!-- column -->
           <!-- m_editable region-id="editable-static-tag-U4175-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="clearfix colelem" id="u4175-6" data-muse-uid="U4175" data-muse-type="txt_frame"><!-- content -->
            <p>ЗАКАЖИТЕ БЕСПЛАТНЫЙ</p>
            <p>РАССЧЁТ СТОИМОСТИ</p>
           </div>
           <!-- /m_editable -->
           <div class="clearfix colelem" id="pu4154"><!-- group -->
            <img class="grpelem" id="u4154" alt="" width="16" height="17" src="images/timer%203-u4154.png?crc=4089915977"/><!-- rasterized frame -->
            <!-- m_editable region-id="editable-static-tag-U4174-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
            <div class="clearfix grpelem" id="u4174-4" data-muse-uid="U4174" data-muse-type="txt_frame"><!-- content -->
             <p>Ответ в течении 15 минут</p>
            </div>
            <!-- /m_editable -->
           </div>
          </div>
          <form class="form-grp clearfix grpelem" id="widgetu4157" method="post" enctype="multipart/form-data" action="scripts/form-u4157.php"><!-- none box -->
           <div class="fld-grp clearfix grpelem" id="widgetu4158" data-required="true"><!-- none box -->
            <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u4159-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4158_input" name="custom_U4158" tabindex="13"/><label class="wrapped-input fld-prompt" id="widgetu4158_prompt" for="widgetu4158_input"><span class="actAsPara">Ваше имя*</span></label></span>
           </div>
           <!-- m_editable region-id="editable-static-tag-U4162-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="ts------3 clearfix grpelem" id="u4162-4" data-muse-uid="U4162" data-muse-type="txt_frame"><!-- content -->
            <p>Идет отправка формы...</p>
           </div>
           <!-- /m_editable -->
           <!-- m_editable region-id="editable-static-tag-U4167-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="ts------3 clearfix grpelem" id="u4167-4" data-muse-uid="U4167" data-muse-type="txt_frame"><!-- content -->
            <p>Произошла ошибка. Попробуйте еще раз.</p>
           </div>
           <!-- /m_editable -->
           <!-- m_editable region-id="editable-static-tag-U4173-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="ts------3 clearfix grpelem" id="u4173-4" data-muse-uid="U4173" data-muse-type="txt_frame"><!-- content -->
            <p>Форма успешно отправлена!</p>
           </div>
           <!-- /m_editable -->
           <div class="fld-grp clearfix grpelem" id="widgetu4169" data-required="true"><!-- none box -->
            <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u4172-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu4169_input" name="custom_U4169" tabindex="14"/><label class="wrapped-input fld-prompt" id="widgetu4169_prompt" for="widgetu4169_input"><span class="actAsPara">Ваш телефон*</span></label></span>
           </div>
           <!-- m_editable region-id="editable-static-tag-U4168-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <button class="submit-btn NoWrap rounded-corners ts------3 clearfix grpelem" id="u4168-4" data-muse-uid="U4168" data-muse-type="txt_frame" type="submit" value="Получить бесплатный рассчёт" tabindex="15"><!-- content -->
            <div style="margin-top:-17px;height:17px;">
             <p>Получить бесплатный рассчёт</p>
            </div>
           </button>
           <!-- /m_editable -->
          </form>
         </div>
        </div>
       </div>
       <div class="popup_anchor" id="u4176popup">
        <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u4176"><!-- state-based BG images --></div>
       </div>
      </div>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u1207"><!-- column -->
      <div class="position_content" id="u1207_position_content">
       <div class="museBGSize rounded-corners colelem" id="u1273"><!-- simple frame --></div>
       <!-- m_editable region-id="editable-static-tag-U1225-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u1225-4" data-muse-uid="U1225" data-muse-type="txt_frame"><!-- content -->
        <p>Поддержка ПО</p>
       </div>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U3315-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u3315-4" data-muse-uid="U3315" data-muse-type="txt_frame"><!-- content -->
        <p id="u3315-2">- Оперативная установка и своевременное обновление Вашего ПО</p>
       </div>
       <!-- /m_editable -->
      </div>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u1233"><!-- column -->
      <div class="position_content" id="u1233_position_content">
       <div class="museBGSize rounded-corners colelem" id="u1282"><!-- simple frame --></div>
       <!-- m_editable region-id="editable-static-tag-U1236-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u1236-4" data-muse-uid="U1236" data-muse-type="txt_frame"><!-- content -->
        <p>IP- телефония</p>
       </div>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U3318-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u3318-4" data-muse-uid="U3318" data-muse-type="txt_frame"><!-- content -->
        <p id="u3318-2"><span id="u3318">- Установка, настройка и обслуживание IP ATC. Подключение каналов связи. Экономия на телефонии.</span></p>
       </div>
       <!-- /m_editable -->
      </div>
     </div>
     <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu3945"><!-- none box -->
      <div class="ThumbGroup clearfix grpelem" id="u3973"><!-- none box -->
       <div class="popup_anchor" id="u3974popup">
        <div class="Thumb popup_element rounded-corners clearfix" id="u3974"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U3975-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
         <div class="rounded-corners ts------3 clearfix grpelem" id="u3975-4" data-muse-uid="U3975" data-muse-type="txt_frame"><!-- content -->
          <p id="u3975-2">Заказать услугу</p>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u3946popup">
       <div class="ContainerGroup rgba-background clearfix" id="u3946"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u3947"><!-- group -->
         <div class="clearfix grpelem" id="u3950"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U3969-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u3969-6" data-muse-uid="U3969" data-muse-type="txt_frame"><!-- content -->
           <p>ЗАКАЖИТЕ БЕСПЛАТНЫЙ</p>
           <p>РАССЧЁТ СТОИМОСТИ</p>
          </div>
          <!-- /m_editable -->
          <div class="clearfix colelem" id="pu3948"><!-- group -->
           <img class="grpelem" id="u3948" alt="" width="16" height="17" src="images/timer%203-u3948.png?crc=4089915977"/><!-- rasterized frame -->
           <!-- m_editable region-id="editable-static-tag-U3968-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="clearfix grpelem" id="u3968-4" data-muse-uid="U3968" data-muse-type="txt_frame"><!-- content -->
            <p>Ответ в течении 15 минут</p>
           </div>
           <!-- /m_editable -->
          </div>
         </div>
         <form class="form-grp clearfix grpelem" id="widgetu3951" method="post" enctype="multipart/form-data" action="scripts/form-u3951.php"><!-- none box -->
          <div class="fld-grp clearfix grpelem" id="widgetu3952" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u3953-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu3952_input" name="custom_U3952" tabindex="16"/><label class="wrapped-input fld-prompt" id="widgetu3952_prompt" for="widgetu3952_input"><span class="actAsPara">Ваше имя*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U3956-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u3956-4" data-muse-uid="U3956" data-muse-type="txt_frame"><!-- content -->
           <p>Идет отправка формы...</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U3961-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u3961-4" data-muse-uid="U3961" data-muse-type="txt_frame"><!-- content -->
           <p>Произошла ошибка. Попробуйте еще раз.</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U3967-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u3967-4" data-muse-uid="U3967" data-muse-type="txt_frame"><!-- content -->
           <p>Форма успешно отправлена!</p>
          </div>
          <!-- /m_editable -->
          <div class="fld-grp clearfix grpelem" id="widgetu3963" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u3966-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu3963_input" name="custom_U3963" tabindex="17"/><label class="wrapped-input fld-prompt" id="widgetu3963_prompt" for="widgetu3963_input"><span class="actAsPara">Ваш телефон*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U3962-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <button class="submit-btn NoWrap rounded-corners ts------3 clearfix grpelem" id="u3962-4" data-muse-uid="U3962" data-muse-type="txt_frame" type="submit" value="Получить бесплатный рассчёт" tabindex="18"><!-- content -->
           <div style="margin-top:-17px;height:17px;">
            <p>Получить бесплатный рассчёт</p>
           </div>
          </button>
          <!-- /m_editable -->
         </form>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u3970popup">
       <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u3970"><!-- state-based BG images --></div>
      </div>
     </div>
     <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu4254"><!-- none box -->
      <div class="ThumbGroup clearfix grpelem" id="u4282"><!-- none box -->
       <div class="popup_anchor" id="u4283popup">
        <div class="Thumb popup_element rounded-corners clearfix" id="u4283"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U4284-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" -->
         <div class="rounded-corners ts------3 clearfix grpelem" id="u4284-4" data-muse-uid="U4284" data-muse-type="txt_frame"><!-- content -->
          <p id="u4284-2">Заказать услугу</p>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u4255popup">
       <div class="ContainerGroup rgba-background clearfix" id="u4255"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u4256"><!-- group -->
         <div class="clearfix grpelem" id="u4259"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U4278-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u4278-6" data-muse-uid="U4278" data-muse-type="txt_frame"><!-- content -->
           <p>ЗАКАЖИТЕ БЕСПЛАТНЫЙ</p>
           <p>РАССЧЁТ СТОИМОСТИ</p>
          </div>
          <!-- /m_editable -->
          <div class="clearfix colelem" id="pu4257"><!-- group -->
           <img class="grpelem" id="u4257" alt="" width="16" height="17" src="images/timer%203-u4257.png?crc=4089915977"/><!-- rasterized frame -->
           <!-- m_editable region-id="editable-static-tag-U4277-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
           <div class="clearfix grpelem" id="u4277-4" data-muse-uid="U4277" data-muse-type="txt_frame"><!-- content -->
            <p>Ответ в течении 15 минут</p>
           </div>
           <!-- /m_editable -->
          </div>
         </div>
         <form class="form-grp clearfix grpelem" id="widgetu4260" method="post" enctype="multipart/form-data" action="scripts/form-u4260.php"><!-- none box -->
          <div class="fld-grp clearfix grpelem" id="widgetu4261" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u4262-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4261_input" name="custom_U4261" tabindex="19"/><label class="wrapped-input fld-prompt" id="widgetu4261_prompt" for="widgetu4261_input"><span class="actAsPara">Ваше имя*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U4265-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u4265-4" data-muse-uid="U4265" data-muse-type="txt_frame"><!-- content -->
           <p>Идет отправка формы...</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U4270-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u4270-4" data-muse-uid="U4270" data-muse-type="txt_frame"><!-- content -->
           <p>Произошла ошибка. Попробуйте еще раз.</p>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U4276-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="ts------3 clearfix grpelem" id="u4276-4" data-muse-uid="U4276" data-muse-type="txt_frame"><!-- content -->
           <p>Форма успешно отправлена!</p>
          </div>
          <!-- /m_editable -->
          <div class="fld-grp clearfix grpelem" id="widgetu4272" data-required="true"><!-- none box -->
           <span class="fld-input NoWrap actAsDiv ts------3 clearfix grpelem" id="u4275-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu4272_input" name="custom_U4272" tabindex="20"/><label class="wrapped-input fld-prompt" id="widgetu4272_prompt" for="widgetu4272_input"><span class="actAsPara">Ваш телефон*</span></label></span>
          </div>
          <!-- m_editable region-id="editable-static-tag-U4271-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <button class="submit-btn NoWrap rounded-corners ts------3 clearfix grpelem" id="u4271-4" data-muse-uid="U4271" data-muse-type="txt_frame" type="submit" value="Получить бесплатный рассчёт" tabindex="21"><!-- content -->
           <div style="margin-top:-17px;height:17px;">
            <p>Получить бесплатный рассчёт</p>
           </div>
          </button>
          <!-- /m_editable -->
         </form>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u4279popup">
       <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u4279"><!-- state-based BG images --></div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu4357"><!-- group -->
     <div class="browser_width grpelem" id="u4357-bw">
      <div class="museBGSize" id="u4357"><!-- simple frame --></div>
     </div>
     <div class="browser_width grpelem" id="u4368-bw">
      <div class="rgba-background" id="u4368"><!-- column -->
       <div class="clearfix" id="u4368_align_to_page">
        <div class="colelem" id="u4379"><!-- simple frame --></div>
        <!-- m_editable region-id="editable-static-tag-U4382-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u4382-4" data-muse-uid="U4382" data-muse-type="txt_frame"><!-- content -->
         <p>АКЦИЯ &quot;1-й БЕСПЛАТНО&quot;</p>
        </div>
        <!-- /m_editable -->
        <!-- m_editable region-id="editable-static-tag-U4385-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u4385-6" data-muse-uid="U4385" data-muse-type="txt_frame"><!-- content -->
         <p id="u4385-2">Вы ничего не теряете! Уникальное предложение</p>
         <p id="u4385-4">1-ый выезд квалифицированного специалиста БЕСПЛАТНО</p>
        </div>
        <!-- /m_editable -->
       </div>
      </div>
     </div>

<!-- 
////////////////////////////////
////////////////////////////////
////////////////////////////////     
////////ВТОРАЯ ФОРМА////////////
////////////////////////////////
////////////////////////////////
////////////////////////////////
-->



     <form class="form-grp clearfix grpelem" id="widgetu4388" method="post">
          <div class="fld-grp clearfix grpelem" id="widgetu4401">
               <span class="fld-input NoWrap actAsDiv shadow ts------2 clearfix grpelem" id="u4403-4">
                    <input class="wrapped-input" type="text" id="widgetu4401_input" name="custom_U4401" placeholder="Введите имя"/>
               </span>
          </div>
     
          <div class="fld-grp clearfix grpelem" id="widgetu4389">
               <span class="fld-input NoWrap actAsDiv shadow ts------2 clearfix grpelem" id="u4392-4">
                    <input class="wrapped-input" type="tel" id="widgetu4389_input" name="custom_U4389" placeholder="Ваш телефон"/>
               </span>
          </div>

      
          <button class="submit-btn NoWrap ts------2 clearfix grpelem" id="u4400-4" type="submit" value="ПОЛУЧИТЬ СКИДКУ">
               <div style="margin-top:-14px;height:14px;">
                    <p id="get-discount">ПОЛУЧИТЬ СКИДКУ</p>
               </div>
          </button>
      
     </form>

<!-- 
////////////////////////////////
////////////////////////////////
////////////////////////////////     
//////КОНЕЦ ВТОРОЙ ФОРМЫ////////
////////////////////////////////
////////////////////////////////
////////////////////////////////
-->



     <div class="clearfix grpelem" id="u4462"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U4478-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame grpelem" id="u4478" data-muse-uid="U4478" data-muse-type="img_frame"><!-- image -->
       <img class="block" id="u4478_img" src="images/phone-call(2).png?crc=4031831572" alt="" width="16" height="16" data-muse-src="images/phone-call(2).png?crc=4031831572"/>
      </div>
      <!-- /m_editable -->
     </div>
     <div class="clearfix grpelem" id="u4465"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U4468-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame grpelem" id="u4468" data-muse-uid="U4468" data-muse-type="img_frame"><!-- image -->
       <img class="block" id="u4468_img" src="images/avatar(1).png?crc=109806729" alt="" width="16" height="16" data-muse-src="images/avatar(1).png?crc=109806729"/>
      </div>
      <!-- /m_editable -->
     </div>
    </div>
    <div class="clearfix colelem" id="pkak"><!-- group -->
     <a class="anchor_item grpelem" id="kak"></a>
     <div class="museBGSize grpelem" id="u4561"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="pu4522-5"><!-- column -->
      <!-- m_editable region-id="editable-static-tag-U4522-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix colelem" id="u4522-5" data-muse-uid="U4522" data-muse-type="txt_frame"><!-- content -->
       <p><span id="u4522">О НАС </span>В ДВУХ СЛОВАХ</p>
      </div>
      <!-- /m_editable -->
      <!-- m_editable region-id="editable-static-tag-U4520-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix colelem" id="u4520-4" data-muse-uid="U4520" data-muse-type="txt_frame"><!-- content -->
       <p>В нашей компании работают лучшие специалисты с огромным опытом работы по созданию, развёртыванию, прокладке, обслуживанию сетей и компьютерной техники любой сложности. С нами, Ваше компьютерное оборудование всегда в надёжных руках.</p>
      </div>
      <!-- /m_editable -->
     </div>
    </div>
    <div class="clearfix colelem" id="pu4572"><!-- group -->
     <div class="browser_width grpelem" id="u4572-bw">
      <div class="museBGSize" id="u4572"><!-- simple frame --></div>
     </div>
     <div class="browser_width grpelem" id="u4573-bw">
      <div class="rgba-background" id="u4573"><!-- column -->
       <div class="clearfix" id="u4573_align_to_page">
        <!-- m_editable region-id="editable-static-tag-U4574-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="rounded-corners clearfix colelem" id="u4574-4" data-muse-uid="U4574" data-muse-type="txt_frame"><!-- content -->
         <h2>Как мы работаем</h2>
        </div>
        <!-- /m_editable -->
        <div class="colelem" id="u4596"><!-- simple frame --></div>
        <div class="clearfix colelem" id="ppu4997-4"><!-- group -->
         <div class="clearfix grpelem" id="pu4997-4"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U4997-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u4997-4" data-muse-uid="U4997" data-muse-type="txt_frame"><!-- content -->
           <p><span id="u4997">1.</span></p>
          </div>
          <!-- /m_editable -->
          <img class="colelem" id="u4957" alt="" width="128" height="128" src="images/meeting-u4957.png?crc=193161928"/><!-- rasterized frame -->
         </div>
         <div class="grpelem" id="u4575"><!-- simple frame --></div>
         <div class="clearfix grpelem" id="pu5000-4"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U5000-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u5000-4" data-muse-uid="U5000" data-muse-type="txt_frame"><!-- content -->
           <p><span id="u5000">2.</span></p>
          </div>
          <!-- /m_editable -->
          <img class="colelem" id="u4967" alt="" width="128" height="128" src="images/tactics-u4967.png?crc=4243450890"/><!-- rasterized frame -->
         </div>
         <div class="grpelem" id="u4576"><!-- simple frame --></div>
         <div class="clearfix grpelem" id="pu5003-4"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U5003-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u5003-4" data-muse-uid="U5003" data-muse-type="txt_frame"><!-- content -->
           <p><span id="u5003">3.</span></p>
          </div>
          <!-- /m_editable -->
          <img class="colelem" id="u4977" alt="" width="128" height="128" src="images/contract-u4977.png?crc=279815609"/><!-- rasterized frame -->
         </div>
         <div class="grpelem" id="u4577"><!-- simple frame --></div>
         <img class="grpelem" id="u4987" alt="" width="128" height="128" src="images/man-in-office-desk-with-computer-u4987.png?crc=95438934"/><!-- rasterized frame -->
         <!-- m_editable region-id="editable-static-tag-U5006-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u5006-4" data-muse-uid="U5006" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u5006">4.</span></p>
         </div>
         <!-- /m_editable -->
        </div>
        <div class="clearfix colelem" id="pu4578-6"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U4578-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u4578-6" data-muse-uid="U4578" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u4578">Знакомство и</span></p>
          <p><span id="u4578-3">консультация</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U4701-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u4701-6" data-muse-uid="U4701" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u4701">Определение объема</span></p>
          <p><span id="u4701-3">и стоимости услуг</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U4704-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u4704-6" data-muse-uid="U4704" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u4704">Встреча,</span></p>
          <p><span id="u4704-3">заключение договора</span></p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U4707-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u4707-6" data-muse-uid="U4707" data-muse-type="txt_frame"><!-- content -->
          <p><span id="u4707">Обслуживание, получение</span></p>
          <p><span id="u4707-3">первых результатов</span></p>
         </div>
         <!-- /m_editable -->
        </div>
        <a class="anchor_item colelem" id="contact"></a>
       </div>
      </div>
     </div>
     <!-- m_editable region-id="editable-static-tag-U4582-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u4582" data-muse-uid="U4582" data-muse-type="img_frame" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-0.6947,M12=0.7193,M21=-0.7193,M22=-0.6947,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-3" data-mu-ie-matrix-dy="-3"><!-- image -->
      <img class="block" id="u4582_img" src="images/tr.png?crc=503553752" alt="" width="15" height="15" data-muse-src="images/tr.png?crc=503553752"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U4584-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u4584" data-muse-uid="U4584" data-muse-type="img_frame" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-0.6947,M12=0.7193,M21=-0.7193,M22=-0.6947,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-3" data-mu-ie-matrix-dy="-3"><!-- image -->
      <img class="block" id="u4584_img" src="images/tr.png?crc=503553752" alt="" width="15" height="15" data-muse-src="images/tr.png?crc=503553752"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U4586-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u4586" data-muse-uid="U4586" data-muse-type="img_frame" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-0.6947,M12=0.7193,M21=-0.7193,M22=-0.6947,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-3" data-mu-ie-matrix-dy="-3"><!-- image -->
      <img class="block" id="u4586_img" src="images/tr.png?crc=503553752" alt="" width="15" height="15" data-muse-src="images/tr.png?crc=503553752"/>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="pu4710"><!-- group -->
     <div class="browser_width grpelem" id="u4710-bw">
      <div id="u4710"><!-- custom html -->
       <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=6fhwJFG0s0LyS9aM0eoUQBC67kUii8J-&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
      </div>
     </div>
     <div class="grpelem" id="u4711"><!-- simple frame --></div>
     <!-- m_editable region-id="editable-static-tag-U4713-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u4713-29" data-muse-uid="U4713" data-muse-type="txt_frame"><h2 id="u4713-2">НАШИ КОНТАКТЫ</h2>
      <h2 id="u4713-3">&nbsp;</h2>
      <h2 id="u4713-7"><span id="u4713-4">Офис:</span> <span id="u4713-6">Октябрьская 19б, оф 104</span></h2>
      <h2 id="u4713-10"><span id="u4713-8">Время работы:</span><span id="u4713-9"> 08.00 - 20.00</span></h2>
      <h2 id="u4713-12"><span id="u4713-11">Работаем Без выходных!</span></h2>
      <h2 id="u4713-13">&nbsp;</h2>
      <h2 id="u4713-16"><span id="u4713-14">Приём заявок с сайта:</span><span id="u4713-15"> КРУГЛОСУТОЧНО</span></h2>
      <h2 id="u4713-19"><span id="u4713-18">Номера телефонов:</span></h2>
      <h2 id="u4713-23"><span id="u4713-20">MTC</span><span id="u4713-21"> </span><span id="u4713-22">+375 (29) 230 42 35</span></h2>
      <h2 id="u4713-27"><span id="u4713-24">Velcom</span><span id="u4713-25"> </span><span id="u4713-26">+375 (29) 383 16 20</span></h2>
      <p>&nbsp;<a href="mailto:ip.helper.minsk@gmail.com">ip.helper.minsk@gmail.com</a></p>
     </div>
     <!-- /m_editable -->
    </div>
    <!-- m_editable region-id="editable-static-tag-U4794-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
    <div class="clearfix colelem" id="u4794-4" data-muse-uid="U4794" data-muse-type="txt_frame"><!-- content -->
     <p id="u4794-2">Остались вопросы?</p>
    </div>
    <!-- /m_editable -->
    <!-- m_editable region-id="editable-static-tag-U4855-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
    <div class="clearfix colelem" id="u4855-4" data-muse-uid="U4855" data-muse-type="txt_frame"><!-- content -->
     <p id="u4855-2">Заполните форму и мы обязательно свяжемся с вами</p>
    </div>
    <!-- /m_editable -->
    <form class="form-grp clearfix colelem" id="widgetu4858" method="post" enctype="multipart/form-data" action="scripts/form-u4858.php"><!-- none box -->
     <div class="fld-grp clearfix grpelem" id="widgetu4859" data-required="true"><!-- none box -->
      <span class="fld-input NoWrap actAsDiv shadow ts------2 clearfix grpelem" id="u4862-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4859_input" name="custom_U4859" tabindex="25"/><label class="wrapped-input fld-prompt" id="widgetu4859_prompt" for="widgetu4859_input"><span class="actAsPara">Ваше имя*</span></label></span>
     </div>
     <!-- m_editable region-id="editable-static-tag-U4872-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="ts------2 clearfix grpelem" id="u4872-4" data-muse-uid="U4872" data-muse-type="txt_frame"><!-- content -->
      <p>Идет отправка формы...</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U4874-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="ts------2 clearfix grpelem" id="u4874-4" data-muse-uid="U4874" data-muse-type="txt_frame"><!-- content -->
      <p>Попробуйте еще раз.</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U4863-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="ts------2 clearfix grpelem" id="u4863-4" data-muse-uid="U4863" data-muse-type="txt_frame"><!-- content -->
      <p>Фора успешно отправлена!</p>
     </div>
     <!-- /m_editable -->
     <div class="fld-grp clearfix grpelem" id="widgetu4868" data-required="true"><!-- none box -->
      <span class="fld-input NoWrap actAsDiv shadow ts------2 clearfix grpelem" id="u4870-4"><!-- content --><input class="wrapped-input" type="tel" spellcheck="false" id="widgetu4868_input" name="custom_U4868" tabindex="26"/><label class="wrapped-input fld-prompt" id="widgetu4868_prompt" for="widgetu4868_input"><span class="actAsPara">Ваш телефон*</span></label></span>
     </div>
     <!-- m_editable region-id="editable-static-tag-U4873-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <button class="submit-btn NoWrap ts------2 clearfix grpelem" id="u4873-4" data-muse-uid="U4873" data-muse-type="txt_frame" type="submit" value="ОСТАВИТЬ ЗАЯВКУ" tabindex="28"><!-- content -->
      <div style="margin-top:-14px;height:14px;">
       <p>ОСТАВИТЬ ЗАЯВКУ</p>
      </div>
     </button>
     <!-- /m_editable -->
     <div class="fld-grp clearfix grpelem" id="widgetu4929" data-required="true"><!-- none box -->
      <span class="fld-textarea actAsDiv shadow ts------2 clearfix grpelem" id="u4932-4"><!-- content --><textarea class="wrapped-input" id="widgetu4929_input" name="custom_U4929" tabindex="27"></textarea><label class="wrapped-input fld-prompt" id="widgetu4929_prompt" for="widgetu4929_input"><span class="actAsPara">Введите сообщение</span></label></span>
     </div>
    </form>
    <div class="clearfix colelem" id="pu4876"><!-- group -->
     <div class="clearfix grpelem" id="u4876"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U4877-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame grpelem" id="u4877" data-muse-uid="U4877" data-muse-type="img_frame"><!-- image -->
       <img class="block" id="u4877_img" src="images/avatar(1).png?crc=109806729" alt="" width="16" height="16" data-muse-src="images/avatar(1).png?crc=109806729"/>
      </div>
      <!-- /m_editable -->
     </div>
     <div class="clearfix grpelem" id="u4875"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U4879-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame grpelem" id="u4879" data-muse-uid="U4879" data-muse-type="img_frame"><!-- image -->
       <img class="block" id="u4879_img" src="images/phone-call(2).png?crc=4031831572" alt="" width="16" height="16" data-muse-src="images/phone-call(2).png?crc=4031831572"/>
      </div>
      <!-- /m_editable -->
     </div>
    </div>
    <div class="verticalspacer" data-offset-top="4307" data-content-above-spacer="4307" data-content-below-spacer="107"></div>
    <div class="browser_width colelem" id="u4712-bw">
     <div id="u4712"><!-- group -->
      <div class="clearfix" id="u4712_align_to_page">
       <!-- m_editable region-id="editable-static-tag-U4714-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" data-ice-editable="link" -->
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U4716" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
       <a class="nonblock nontext Button anim_swing clearfix grpelem" id="buttonu4716" href="#main" data-href="anchor:U82:U442" data-muse-uid="U4716"><!-- container box --><img class="grpelem" id="u4719" alt="" width="130" height="65" src="images/triangular1-u4719.png?crc=498164830"/><!-- rasterized frame --><div class="grpelem" id="u4717" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=-0.7071,M21=0.7071,M22=0.7071,SizingMethod='auto expand')" data-mu-ie-matrix-dx="-6" data-mu-ie-matrix-dy="-6"><!-- simple frame --></div><!-- m_editable region-id="editable-static-tag-U4718-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="clearfix grpelem" id="u4718-4" data-muse-uid="U4718" data-muse-type="txt_frame"><!-- content --><p id="u4718-2">Наверх</p></div><!-- /m_editable --></a>
       <!-- /m_editable -->
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="images/arrow-point-to-right2-u682-r.png" alt=""/>
   <img class="preload" src="images/form-pole%201.png" alt=""/>
   <img class="preload" src="images/form-pole%201%202.png" alt=""/>
   <img class="preload" src="images/form-pole%202.png" alt=""/>
   <img class="preload" src="images/form-pole%202%202.png" alt=""/>
   <img class="preload" src="images/close%203-u3867-r.png" alt=""/>
   <img class="preload" src="images/close%203-u1871-r.png" alt=""/>
   <img class="preload" src="images/close%203-u4073-r.png" alt=""/>
   <img class="preload" src="images/close%203-u4176-r.png" alt=""/>
   <img class="preload" src="images/close%203-u3970-r.png" alt=""/>
   <img class="preload" src="images/close%203-u4279-r.png" alt=""/>
  </div>
  
  <% include layout/footer.ejs %>
