<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="ru-RU">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta
      name="description"
      content="Качественное&nbsp; обслуживание по всей РБ. IT- аутсорсинг, прокладка ЛВС, безопасность сети, подбор оборудования, оптимизация и модернизация. Полное сопровождение бизнеса."
    />
    <meta name="generator" content="2017.0.0.363" />
    <title>IT услуги в Минске</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="<%= assetFingerprint('/stylesheets/index.css') %>" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= assetFingerprint('/stylesheets/site_global.css') %>"
      id="pagesheet"
    />
    <!-- IE-only CSS -->
    <!--[if lt IE 9]>
      <link
        rel="stylesheet"
        type="text/css"
        href="css/iefonts_index.css?crc=137055204"
      />
    <![endif]-->
    <!-- Other scripts -->
    <!-- JS includes -->
    <script type="text/javascript">
      document.write(
        '\x3Cscript src="' +
          (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//webfonts.creativecloud.com/roboto:n3,n4,n5,n9,n7:all;ubuntu:n4,n7,i4:all;open-sans:n3:all.js" type="text/javascript">\x3C/script>'
      );
    </script>
    <!--[if lt IE 9]>
      <script
        src="scripts/html5shiv.js?crc=4241844378"
        type="text/javascript"
      ></script>
    <![endif]-->
  </head>
